body {
	font-family: 'Source Sans Pro', sans-serif;
}

header {
	font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
}

.container {
	max-width: 700px;
}

#innerNav.container .navbar-brand {
	padding-left: 31px;
}

#top.container {
	margin-top: 30px;
}

.top-buffer { 
	margin-top:70px;
}

h2:first-child {
	margin-top: 0;
}

.paper-actions {
	margin-top: 8px;
	margin-bottom: 12px;
}

.hidden {
	display: none;
}

@media (max-width: 700px) {
	#top.container {
		margin-top: 15px;
	}	
}

#footer {
	padding-top: 15px;
}

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -20px;
	/* Pad bottom by footer height */
	padding: 0 0 80px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 20px;
}

#press {
  margin: 0;
  padding: 0;
}

#press li {
  list-style: none;
  display: block;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 0;
  height: 45px;
}

#press li img {
  background-color: white;
  max-height: 45px;
  max-width: 130px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
  }

 /*
.border {
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 10px;
	border: 1px solid #c9c9c9;
}*/

.project-text {
	padding-left: 10px;
}

.img-logo {
	margin-top: 7px;
	margin-bottom: 10px;
	width: 50px;
  }

  .img-logo-wider {
	margin-top: 7px;
	margin-bottom: 10px;
	width: 65px;
  }

.social-logo{
	width: 25px;
	margin-right: 10px;
}

